* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-color: #010028;
 } 

header {
    font-family: monospace;
    margin: 0;
    background-image: url("./header-img.jpg");
    background-size: 100% auto;
}
h1 {
    text-align: center;
    font-size: 60px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: solid;
    font-size: 20px;
  }

  p {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}
/* raintbow-text copied code from: https://w3bits.com/rainbow-text/ */

/* Main Section is made of three sections with one flex container and two flex children */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px;
}
/* the aside-text is for all side bars */
.flex-child .aside-text {
    flex: 20%;
}  

/* each section has its own class for the flex children content.  */
.flex-child .about-text p {
  flex: 80%;
  justify-content: flex-start;
}

.flex-child .cards {
  flex: 80%;
  justify-content: flex-start;

}

.flex-child .DM {
  flex: 80%;
  justify-content: flex-start;
}

/* Formatting for the divs of each section */
  .aside-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: whitesmoke;
    font-family: monospace;
    width: 20%;
    border-right: solid whitesmoke;
    font-size: 25pt;
    padding: 10px 10px 0px 0px;
  }

  .about-text {
    padding: 10px 10px 20px 10px;
    color: whitesmoke;
    font-family: monospace;
    font-size: 18pt;
    max-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100px;
  }

  .cards {
   flex: 4;
   padding: 10px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
  } 

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    /* flex: 1 0 auto; */
    background-color: whitesmoke;
    padding: 5px;
    margin: 20px;
    color: whitesmoke
  }
  
  .card > header {
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    background-image: url(card-header.jpg);
    background-size: 100%;
    width: 100%;
    height: 50px;
    font: 20px monospace;
    text-align: center;
  }

  .card > img {
    border-radius: 10%;
    width: auto;
    height: auto;
    object-fit: fill;
  }
  
.DM {
    padding: 10px 20px;
    color: whitesmoke;
    font-family: monospace;
    font-size: 18pt;
    max-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100px;
  }
  
  #avatar {
    display: flex;
    border-radius: 50%;
    max-width: 100%;
    height: 150px;
    padding: 5px;
  }

  @media screen and (max-width: 400px) {
    main,
    nav {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
